
/* ================= Footer ================= */

.footer{

    margin-top:5px;
}

/* Top Section */

.footer-top{

    display:flex;

    justify-content:space-around;

    align-items:center;
  padding:45px 0;
    /* padding:50px 0; */

    background:#fff;

    /* border-top:1px solid #ececec; */
}















.feature{

    text-align:center;
}

.feature i{

    font-size:45px;

    color:#2d2d2d;

    margin-bottom:18px;
}

.feature h3{

    font-size:18px;

    font-family:Georgia, serif;

    font-weight:500;

    color:#2d2d2d;
}



/* ==========================
   Footer Bottom
========================== */


 .footer-bottom{

    background:#2c4152;
margin-top: 0;
    padding:30px 60px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:50px;
}
 



.footer-column h3{

    color:#ffffff;
 margin-top:3px;
    font-size:18px;

    font-weight:600;

    margin-bottom:20px;

    text-transform:uppercase;
}





 .footer-column ul{

    list-style:none;

    padding:0;

    margin:0;
} 

.footer-column li{

    margin-bottom:14px;
}

.footer-column a{

    color:#d9d9d9;

    text-decoration:none;

    font-size:15px;

    transition:.3s;
}

.footer-column a:hover{

    color:#ffffff;

    text-decoration:underline;
}








/*================ Footer Bottom ================*/

 


/* .footer-last{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    padding:45px 70px;

    border-top:1px solid rgba(255,255,255,.35);

    box-sizing:border-box;

} */







/* .payment-section{

    width:75%;

} */



/* .secure-section{

    width:25%;

    text-align:right;

} */


/* 
.payment-section h4,

.secure-section h4{

    color:#fff;

    font-size:22px;

    font-weight:500;

    margin-bottom:22px;

} */



/* .payment-icons{

    display:flex;

    align-items:center;

    gap:25px;

   

} */


/* 


.payment-box{

    color:#fff;

    font-size:17px;

    white-space:nowrap;

} */


/* 
.payment-icons i{

    color:#fff;

    font-size:38px;

} */


/* .secure-icons{

    display:flex;

    justify-content:flex-end;

} */

/* .secure-icons i{

    font-size:40px;

    color:#fff;

} */










/*==================================
SERVICE STRIP
===================================*/

.service-strip{

    width:100%;

    height:100px;

    border-top:3px solid #e8e8e8;

    border-bottom:3px solid #e8e8e8;

    background:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:55px;

    margin-top:40px;

}

.service-box{

    display:flex;

    align-items:center;

    gap:8px;

}

.service-box i{

    font-size:26px;

    color:#9a6d19;

}

.service-box span{

    font-size:16px;

    color:#9a6d19;

    font-weight:500;

    text-transform:uppercase;

}




